<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/components :: header"></div>
<title>Delete Account - United Overseas Bank</title>
</head>
<body>
	<div th:replace="fragments/components :: navbar"></div>
	<div class="container my-3" id="content">
		<div class="h-100 p-3 d-flex flex-column justify-content-center">
			<h3 class="align-self-center">
				Account ID: <span th:text="${accId}"></span>
			</h3>
			<div
				class="w-100 p-3 m-3 shadow-lg rounded-lg border border-dark align-self-center"
				style="max-width: 500px">
				<h4>Account Details</h4>
				<table class="table table-hover">
					<tbody>
						<tr>
							<th scope="row">Account ID</th>
							<td th:text="${acct.accountId}"></td>
						</tr>
						<tr>
							<th scope="row">Account Type</th>
							<td th:text="${acct.accountType}"></td>
						</tr>
						<tr>
							<th scope="row">Account Open Date</th>
							<td th:text="${acctInitiationDate}"></td>
						</tr>
						<tr th:if="${acct.accountType != 'Savings'}">
							<th scope="row">Maturity Date</th>
							<td th:text="${maturityDate}"></td>
						</tr>
						<tr th:if="${acct.accountType != 'Savings'}">
							<th scope="row">Days to Maturity</th>
							<td th:text="${daysMaturityDate}"></td>
						</tr>
						<tr>
							<th scope="row">Annual Interest Rate</th>
							<td th:text="${acct.interestRate}"></td>
						</tr>
						<tr th:if="${acct.accountType != 'Savings'}">
							<th scope="row">Principal Amount</th>
							<td th:text="${balance}"></td>
						</tr>
						<tr th:if="${acct.accountType == 'Recurring Deposit'}">
							<th scope="row">Recurring Deposit Amount</th>
							<td th:text="${acct.recurringDeposit}"></td>
						</tr>
						<tr th:if="${acct.accountType != 'Savings'}">
							<th scope="row">Earned Interest</th>
							<td th:text="${earnedInt}"></td>
						</tr>
						<tr th:if="${acct.accountType != 'Savings'}">
							<th scope="row">Total Balance</th>
							<td th:text="${totalBalance}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="align-self-center my-3">
				<div class="btn-group align-self-center" role="group">
					<a href="/welcomeuser" class="btn btn-secondary">Back to Home</a> <a
						th:if="${acct.accountType != 'Savings' && daysMaturityDate == 0}"
						type="button" class="btn btn-primary"
						th:href="@{/renewDeposit/} + ${accId} + '/' + ${totalBalance}">Renew
						Deposit</a> <a type="button" class="btn btn-danger"
						data-toggle="modal" href="#deleteModal">Withdraw and Delete</a>
				</div>
			</div>
			<!-- Delete Modal -->
			<div class="modal fade" id="deleteModal" tabindex="-1"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Confirm withdraw and delete</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="mb-3 alert alert-danger" role="alert">
								<p>
									Your earned accrued interest since <span
										th:text="${acctInitiationDate}"></span> is SGD <span
										th:text="${earnedInt}"></span>.
								</p>
								<p>
									Would you like to withdraw your total balance <span
										th:text="${totalBalance}"></span> and delete your bank account
									(ID: <span th:text="${acct.accountId}"></span>)?
								</p>
								<p>This action is irreversible.</p>
							</div>
							<div class="modal-footer">
								<form
									th:action="@{/confirm_delete_account/} + ${acct.accountId} + '/' + ${totalBalance}"
									th:method="put">
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Close</button>
										<button type="submit" class="btn btn-danger">Delete</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Delete Modal -->
		</div>
	</div>
	<div th:replace="fragments/components :: footer"></div>
</body>
</html>