<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/components :: header"></div>
<title>Add account - United Overseas Bank</title>
</head>
<body>
	<div th:replace="fragments/components :: navbar"></div>
	<div class="container my-3" id="content">

		<div class="h-100 p-3 d-flex flex-column justify-content-center">
			<h3 class="align-self-center my-3">
				Add a new account for <span sec:authentication="name"
					class="cust-username"></span>. (User ID: <span
					sec:authentication="principal.userId"></span>)
			</h3>
			<div
				class="w-100 p-3 shadow-lg rounded-lg border border-dark align-self-center"
				style="max-width: 500px">
				<h4>List of existing account</h4>
				<div th:switch="${count}">
					<div th:case="0" class="form-group">
						<p for="accNo">No Records Available</p>
					</div>
					<div th:case="*" class="form-group">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Account Number</th>
									<th>Account Type</th>
									<th>View</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="acc : ${optionList}">
									<td th:text="${acc.accountId}"></td>
									<td th:text="${acc.accountType}"></td>
									<td>
										<form th:action="@{/process_view_account}" method="post">
											<input th:value="${acc.accountId}" name="accId" hidden="true"></input>
											<button type="submit" class="btn btn-secondary">
												<i class="fa-solid fa-eye"></i>
											</button>
										</form>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div
				class="align-self-center w-100 p-3 my-3 shadow-lg rounded-lg border border-dark"
				style="max-width: 500px">
				<form th:action="@{/process_account_creation}" th:method="post"
					th:object="${user}" class="d-flex flex-column">

					<h4>Select Account Type to Create</h4>
					<p class="alert alert-danger" role="alert"
						th:if="${msg}=='savingsFixedError'">Error: For Savings and
						Fixed Deposit Accounts, minimum initial deposit is $500 and
						"Recurring Deposit Amount" field must be left empty</p>
					<p class="alert alert-danger" role="alert"
						th:if="${msg}=='recurringError'">Error: For Recurring Deposit
						Account, minimum initial deposit is $500 and "Recurring Deposit
						Amount" value must be more than $500</p>
					<div class="form-group">
						<label>Account Type</label>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="accountType"
								id="inputAccountType1" value="Savings" checked> <label
								class="form-check-label" for="inputAccountType1">Savings</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="accountType"
								id="inputAccountType2" value="Fixed Deposit"> <label
								class="form-check-label" for="inputAccountType2">Fixed
								Deposit</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="accountType"
								id="inputAccountType3" value="Recurring Deposit"> <label
								class="form-check-label" for="inputAccountType3">Recurring
								Deposit</label>
						</div>
					</div>
					<div class="form-group">
						<label for="inputBalance">Initial Deposit (min. $500)</label> <input
							type="number" class="form-control" id="inputBalance"
							name="balance" required>
					</div>
					<div class="form-group">
						<label for="inputRecurringDeposit">Recurring Deposit
							Amount (min. $500 only for Recurring Deposit account)</label> <input type="number"
							class="form-control" id="inputRecurringDeposit"
							name="recurringDeposit">
					</div>
					<div class="btn-group align-self-center mt-3" role="group">
						<a href="/welcomeuser" class="btn btn-secondary">Cancel</a>
						<button type="submit" class="btn btn-primary">Add account</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="fragments/components :: footer"></div>
</body>
</html>