<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/components :: header"></div>
<meta charset="ISO-8859-1">
<title>Add Transaction - United Overseas Bank</title>
</head>
<body>
	<div th:replace="fragments/components :: navbar"></div>
	<div class="container my-3" id="content">
		<form th:action="@{/process_transaction}" method="post">
			<div class="h-100 p-3 d-flex flex-column justify-content-center">
				<h3 class="align-self-center my-3">Add new transaction</h3>
				<div
					class="w-100 p-3 m-3 shadow-lg rounded-lg border border-dark align-self-center"
					style="max-width: 500px">
					<div class="form-group">
						<label for="inputAmount">Amount</label> <input type="number"
							class="form-control" id="inputAmount" name="amount" required>
					</div>
					<label>Type of transaction</label>
					<div class="form-check">
						<input class="form-check-input" type="radio"
							name="transactionType" id="inputTransactionType1" value="1"
							checked> <label class="form-check-label"
							for="inputTransactionType1">Deposit</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio"
							name="transactionType" id="inputTransactionType2" value="2"
							disabled> <label class="form-check-label"
							for="inputTransactionType2">Withdraw</label>
					</div>
				</div>
				<div class="btn-group align-self-center" role="group">
					<a href="#" class="btn btn-danger">Cancel</a>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>
	<div th:replace="fragments/components :: footer"></div>
</body>
</html>