<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/components :: header"></div>
<title>View account - United Overseas Bank</title>
</head>
<body>
	<div th:replace="fragments/components :: navbar"></div>
	<div class="container my-3" id="content">
		<h3 class="align-self-center my-3">
			<span sec:authentication="name"> </span>'s account details:
		</h3>
		
		<!-- <form action="/">
			<input type="number" id="n1" name="n1"/>
			<input type="number" id="n2" name="n2"/>
			<input type="number" id="n3" name="n3"/>
			<input type="submit" name="opr" id="opr" value="add"/>			
		</form> -->
		
		<form action="/"> method ="post" 
		<input type="number" id="date1" name="date1"/>
		<input type="number" id="interestRate" name="interestRate"/>
		<input type="number" id="balance" name="balance"/>
		<input type="submit" name="opr" id="opr" value="mul"/>
		</form>		
		
		<p>
		Your accrued interest since (insert acc opening date)
		<span th:text="${date1}"></span> is (insert earned interest)
		<span th:text="${res}"></span> .
		<br>
		Would you like to withdraw your total balance (insert total balance)  
		<span th:text="${totalbalance}"></span> and delete your account?
		</p>
	</div>

	<div th:replace="fragments/components :: footer"></div>
</body>
</html>