<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/components :: header"></div>
<title>Delete Account - United Overseas Bank</title>
</head>
<body>
	<div th:replace="fragments/components :: navbar"></div>
	<div class="container my-3" id="content">

		<div class="h-100 p-3 d-flex flex-column justify-content-center">
			<h3 class="align-self-center">
				Delete Account (Account ID: <span th:text="${accId}"></span>)
			</h3>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Account ID</th>
						<th>Account Type</th>
						<th>Account Open Date</th>
						<th>Annual Interest Rate</th>
						<th>Account Balance</th>
					</tr>
				</thead>
				<tbody>

					<tr th:each="acct: ${acct}">
						<td th:text="${acct.accountId}"></td>
						<td th:text="${acct.accountType}"></td>
						<td th:text="${acct.initiationDate}"></td>
						<td th:text="${acct.interestRate}"></td>
						<td th:text="${acct.balance}"></td>
					</tr>
				</tbody>

			</table>
			<div class="align-self-center">
				<div>
					<!-- change date format to dd-mm-yy -->
					Account Open Date : <span th:text="${acctInitiationDate}"></span><br>
					Account Maturity Date : <span th:text="${maturityDate}"></span><br>
					Days left : <span th:text="${daysMaturityDate}"></span><br>
					Current Balance : <span th:text="${balance}"></span><br>
					Earned Interest : <span th:text="${earnedInt}"></span><br>
					Total Balance : <span th:text="${totalBalance}"></span><br>
				</div>
				<br>
				<div class="btn-group align-self-center" role="group">
					<a href="/welcomeuser" class="btn btn-secondary">Back to Home</a>
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal"
						data-target="#exampleModal">Renew Deposit</button>
					<!-- Modal -->
					<form
						th:action="@{/renewDeposit/} + ${accId} + '/' + ${totalBalance}"
						th:method="put" th:object="${acct}">
						<div class="modal fade" id="exampleModal" tabindex="-1"
							aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Enter
											amount for new deposit</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										Total Balance : <span th:text="${totalBalance}"></span><br>
										<label for="inputAmount">Amount to deposit</label> <input
											type="number" step="0.01" class="form-control"
											id="inputAmount" name="depositAmt" required>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Close</button>
										<button type="submit" class="btn btn-primary">Renew
											Deposit</button>
									</div>
								</div>
							</div>
						</div>
					</form>
					<!-- <button type="submit" class="btn btn-primary">Renew Deposit</button> -->
					<button type="submit" class="btn btn-danger">Withdraw and
						Delete</button>

				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/components :: footer"></div>
</body>
</html>