<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/components :: header"></div>
<title>Edit User - United Overseas Bank</title>
</head>
<body>
	<div th:replace="fragments/components :: navbar"></div>
	<div class="container my-3" id="content">

		<form th:action="@{/process_edit}" th:method="put" th:object="${user}">
			<div class="h-100 p-3 d-flex flex-column justify-content-center">
				<h3 class="align-self-center my-3">Edit customer account
					details</h3>
				<div
					class="w-100 p-3 m-3 shadow-lg rounded-lg border border-dark align-self-center"
					style="max-width: 500px">
					<h4>User's Details</h4>
					<div class="form-group">
						<label for="inputUserNric">NRIC</label> <input type="text"
							class="form-control" id="inputUserNric" th:field="*{userNric}"
							required>
					</div>
					<div class="form-group">
						<label for="inputUsername">Username</label> <input type="text"
							class="form-control" id="inputUsername" th:field="*{userName}"
							disabled required>
					</div>
					<div class="form-group">
						<label for="inputPassword">Password</label> <input type="password"
							class="form-control" id="inputPassword" th:field="*{password}"
							required>
					</div>
					<div class="form-group">
						<label for="inputContactNo">Contact No</label> <input type="text"
							class="form-control" id="inputContactNo" th:field="*{contactNo}"
							required>
					</div>
					<div class="form-group">
						<label for="inputAddress">Address</label> <input type="text"
							class="form-control" id="inputAddress" th:field="*{address}"
							required>
					</div>
					<div class="form-group">
						<label for="inputEmail">Email</label> <input type="email"
							class="form-control" id="inputEmail" th:field="*{email}" required>
					</div>
				</div>
				<div
					class="w-100 p-3 m-3 shadow-lg rounded-lg border border-dark align-self-center"
					style="max-width: 500px">
					<h4>Nominee's Details</h4>
					<div class="form-group">
						<label for="inputNomineeName">Nominee Name</label> <input
							type="text" class="form-control" id="inputNomineeName"
							th:field="*{nomineeName}" required>
					</div>
					<div class="form-group">
						<label for="inputNomineeNric">Nominee NRIC</label> <input
							type="text" class="form-control" id="inputNomineeNric"
							th:field="*{nomineeNric}" required>
					</div>
				</div>
				<div class="btn-group align-self-center" role="group">
					<a href="/admin/viewuser" class="btn btn-secondary">Cancel</a>
					<button type="submit" class="btn btn-primary">Edit</button>
				</div>
			</div>
		</form>
	</div>
	<div th:replace="fragments/components :: footer"></div>
</body>
</html>