<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/components :: header"></div>
<meta charset="ISO-8859-1">
<title>Add Transaction - United Overseas Bank</title>
</head>
<body>
	<div th:replace="fragments/components :: navbar"></div>
	<div class="container my-3" id="content">
		<div class="h-100 p-3 d-flex flex-column justify-content-center">
			<h4 class="align-self-center my-3">
				Renew your <span th:text="${acct.accountType}"></span> account
			</h4>
			<div
				class="align-self-center p-3 m-3 shadow-lg rounded-lg border border-dark">
				<p class="alert alert-danger" role="alert"
					th:if="${msgSelect}=='noSelection'">
					No selection of input detected.<br>Please either checked the
					full transfer or input a minimum of $500 deposit amount.
				</p>
				<p>
				<p class="alert alert-danger" role="alert"
					th:if="${msgSelect}=='multipleSelection'">Multiple selected
					input detected. Please either checked the full transfer or input a
					minimum of $500 deposit amount</p>
				<p class="alert alert-danger" role="alert"
					th:if="${msgSelect}=='minSelection'">
					Minimum initial deposit is $500.<br>Please either checked the
					full transfer or input a minimum of $500 deposit amount.
				</p>
				<p>
					Your <span th:text="${acct.accountType}"></span> Account (Account
					ID: <span th:text="${acct.accountId}"></span>) has matured.
				</p>
				<p>
					Total Balance (after interest credited): <strong>$<span
						th:text="${totalBalance}"></span></strong>
				</p>

				<form
					th:action="@{/process_renew_deposit/} + ${accId} + '/' + ${totalBalance}"
					method="post">
					<p th:if="${msg}=='null'">
						<label for="inputAmount">Amount to deposit into new <span
							th:text="${acct.accountType}"></span> Account
						</label><input type="number" step="0.01" class="form-control"
							id="inputAmount" name="depositAmtInput" value="0" required>
						<input type="checkbox" id="depositAmtChecked"
							name="depositAmtChecked" th:value="${totalBalance}"> I
						would like to transfer all $<label for="depositAmtChecked"><span
							th:text="${totalBalance}"></span></label> to new fixed deposit account <br>
						<span class="fst-italic text-muted text-center mt-2">Excess
							balance will be deposited to your savings account.<br>Insufficient
							funds will be credited from your savings account.
						</span><br>
						<button type="submit" class="btn btn-primary">Submit</button>
					</p>
					<p class="alert alert-success" role="alert"
						th:if="${msg}=='fullDeposit'">
						</label><input type="number" step="0.01" class="form-control"
							id="inputAmount" name="depositAmtInput" value="0" hidden><input
							type="checkbox" id="depositAmtCheckedConfirm"
							name="depositAmtCheckedConfirm" th:value="${totalBalance}"
							checked> <strong> SGD <span
							th:text="${depositAmtChecked}"></span></strong> will be fully deposited to
						renewed fixed deposit account.<br>
						<button type="submit" class="btn btn-primary">Confirm
							Submit</button>
					</p>
					<p class="alert alert-success" role="alert"
						th:if="${msg}=='getSavings'">
						<strong>SGD <span th:text="${depositAmtInput}"></span></strong>
						will be deposited to renewed fixed deposit account.<br> <strong>SGD
							<span th:text="${remainingAmt}"></span>
						</strong><label th:if="${msgSub}=='withdraw'"> will be withdrawn
							from savings account.</label> <label th:if="${msgSub}=='deposit'">
							will be deposited to savings account.</label><br> Please select a
						savings account.<br> <a type="button" class="btn btn-primary"
							data-toggle="modal" href="#renewModal">Select Savings Account</a>
					</p>
					<a href="/welcomeuser" class="btn btn-secondary">Back to Home</a>
				</form>
			</div>
		</div>
		<!-- Renew Modal -->
		<div class="modal fade" id="renewModal" tabindex="-1"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Select your savings account</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form
						th:action="@{/process_renew_deposit_saving/} + ${accId} + '/' + ${totalBalance} + '/' + ${depositAmtInput}"
						th:method="post" th:object="${acct}">
						<div class="modal-body">
							<div class="mt-3" th:switch="${count}">
								<div th:case="0" class="align-items-center">
									<p class="alert alert-danger" role="alert"
										th:if="${countMsg}=='empty'">
										No Account Found<br> Click <a href="/createaccount">here</a>
										to add an account
									</p>
									<p class="alert alert-danger" role="alert"
										th:if="${countMsg}=='insufficient'">
										No Account Has Sufficient Funds<br> Click <a
											href="/addtransaction">here</a> to make a deposit
									</p>
								</div>
								<div th:case="1" class="form-group">
									<h6>Confirm your selected savings account</h6>
									<select class="form-control" id="selectAccNo"
										name="accSavingsId" required>
										<option th:each="option, i : ${optionList}"
											th:value="${option.key}" th:text="${option.value}"
											th:selected="${i==0}"></option>
									</select>
								</div>
								<div th:case="*">
									<h6>Confirm your selected savings account</h6>
									<div class="form-row align-items-center">
										<div class="col-auto my-1">
											<select class="custom-select" id="selectAccNo"
												name="accSavingsId" required>
												<option value="" disabled selected required>Select
													an account</option>
												<option th:each="option : ${optionList}"
													th:value="${option.key}" th:text="${option.value}"></option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Close</button>
							<p th:if="${countMsg !='insufficient' and countMsg !='empty'}">
								<button type="submit" class="btn btn-primary">Confirm</button>
							</p>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Renew Modal -->
	</div>
	<div th:replace="fragments/components :: footer"></div>
</body>
</html>