<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/components :: header"></div>
<title>View account - United Overseas Bank</title>
</head>
<body>
	<div th:replace="fragments/components :: navbar"></div>
	<div class="container my-3" id="content">
		<h3 class="align-self-center my-3">
			<span sec:authentication="name"></span>'s account details (<span
				th:text="${accId}"></span>):
		</h3>
		<h2>Account Details</h2>
		<table>
			<thead>
				<tr>
					<th>Account Type</th>
					<th>Account Balance</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="acct : ${acct}">
					<td th:text="${acct.accountType}"></td>
					<td th:text="${acct.balance}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="fragments/components :: footer"></div>
</body>
</html>