<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/components :: header"></div>
<title>View account - United Overseas Bank</title>
</head>
<body>
	<div th:replace="fragments/components :: navbar"></div>
	<div class="container my-3" id="content">
		<form th:action="@{/process_view_account}" method="post">
			<div class="form-group">
				<label for="inputAmount">Account Number</label>
				<div th:switch="${count}">
					<div th:case="0" class="form-group">
						<label for="accNo">No Records</label>
					</div>
					<div th:case="1" class="form-group">
						<select class="form-control" id="selectAccNo" name="accId"
							required>
							<option th:each="option, i : ${optionList}" th:value="${option}"
								th:text="${option}" th:selected="${i==0}"></option>
						</select>
					</div>
					<div th:case="*" class="form-group">
						<select class="form-control" id="selectAccNo" name="accId"
							required>
							<option value="0" disabled selected>select option</option>
							<option th:each="option : ${optionList}" th:value="${option}"
								th:text="${option}"></option>
						</select>
					</div>
				</div>
			</div>
			<div class="btn-group align-self-center" role="group">
				<a href="/welcomeuser" class="btn btn-secondary">Cancel</a>
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
	<div class="container my-3" id="content">
		<h3 class="align-self-center my-3">
			<span sec:authentication="name"></span>'s account details (<span
				th:text="${accId}"></span>):
		</h3>
		<table>
			<thead>
				<tr>
					<th>Account Type</th>
					<th>Account Start Date</th>
					<th>Annual Interest Rate</th>
					<th>Account Balance</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="acct : ${acct}">
					<td th:text="${acct.accountType}"></td>
					<td th:text="${acct.initiationDate}"></td>
					<td th:text="${acct.interestRate}"></td>
					<td th:text="${acct.balance}"></td>
				</tr>
			</tbody>
		</table>

		<h4>Transaction Details</h4>
		<table>
			<thead>
				<tr>
					<th>Transaction ID</th>
					<th>Transaction Date/Time</th>
					<th>Transaction Type</th>
					<th>Transaction Amount</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="txn : ${txn}">
					<td th:text="${txn.transactionId}"></td>
					<td th:text="${txn.dateTime}"></td>
					<td th:text="${txn.txnType}"></td>
					<td th:text="${txn.transactionAmount}"></td>
				</tr>
			</tbody>
		</table>
		<form th:action="@{/process_delete_account}" method="post">
			<div class="btn-group align-self-center" role="group">
				<a href="/welcomeuser" class="btn btn-secondary">Back to Home</a>
				<button type="submit" class="btn btn-primary">Withdraw and
					Delete</button>
			</div>
		</form>
	</div>

	<div th:replace="fragments/components :: footer"></div>
</body>
</html>