<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/components :: header"></div>
<title>Home - United Overseas Bank</title>
</head>
<body>
	<div th:replace="fragments/components :: navbar"></div>
	<div class="container my-3" id="content">
		<div class="h-100 p-3 d-flex flex-column justify-content-center">
			<h3 class="align-self-center">
				Welcome, <span sec:authentication="name" class="cust-username"></span>.
				(User ID: <span sec:authentication="principal.userId"></span>)
			</h3>
			<div style="max-width: 500px;">
				<p class="alert alert-success" role="alert"
					th:if="${msg}=='deposit'">
					Account ID: <span th:text="${accountNo}"></span><br> Deposited
					Amount: $<span
						th:text="${#numbers.formatDecimal(txnAmt, 3,'COMMA', 2,'POINT')}"></span><br>Balance
					after deposit: $<span
						th:text="${#numbers.formatDecimal(balAfterDeposit, 3,'COMMA', 2,'POINT')}"></span>
				</p>
				<p class="alert alert-success" role="alert"
					th:if="${msg}=='withdraw'">
					Account ID: <span th:text="${accountNo}"></span><br> Withdrawn
					Amount: $<span
						th:text="${#numbers.formatDecimal(txnAmt, 3,'COMMA', 2,'POINT')}"></span><br>Balance
					after Withdrawal: $<span
						th:text="${#numbers.formatDecimal(balAfterWithdrawal, 3,'COMMA', 2,'POINT')}"></span>
				</p>
			</div>
			<div
				class="align-self-center p-3 m-3 shadow-lg rounded-lg border border-dark"
				style="max-width: 500px;">
				<a class="btn btn-primary btn-lg btn-block my-4"
					sec:authorize="hasRole('ADMIN')" th:href="@{/admin/viewuser}"
					role="button">View customer record(s)</a> <a
					class="btn btn-primary btn-lg btn-block my-4"
					th:href="@{/viewaccount}" role="button">View account(s)</a> <a
					class="btn btn-secondary btn-lg btn-block my-4"
					th:href="@{/createaccount}" role="button">Create an account</a> <a
					class="btn btn-secondary btn-lg btn-block my-4"
					th:href="@{/addtransaction}" role="button">Make a transaction</a>
			</div>
		</div>
	</div>
	<div th:replace="fragments/components :: footer"></div>
</body>
</html>